header{
    text-align: center;
}
.jointText{
    margin: 0;
}
.projects{
    margin: 10%;
    text-align: left;
}
.headerText{
    font-family: 'Open Sans', sans-serif;
    background-image: url("./assets/headerImg.jpg");
}
.headerImg{
    width: 400px;
}